.transaction-card {
  height: 85px;
  width: 100%;
  display: flex;
  padding: 15px 10px;
  box-shadow: 0px 5px 22px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-top: 20px;
}
.card-merchant-wrapper {
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.card-merchant-wrapper .card-icon {
  padding-left: 10px;
  width: 42px;
  height: auto;
  z-index: 2;
    position: relative;
}

.more-trans-btn-wrapper {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 45px;
}
.more-trans-btn-wrapper button {
  width: 100%;
  height: 40px;
}
.more-trans-btn-wrapper button span {
  font-size: 12px;
  font-weight: 500;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.card-merchant-name {
  font-size: 14px;
  font-weight: 500;
  color: rgba(16, 24, 40, 1);
}

.transaction-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.transaction-title {
  font-size: 10px;
  opacity: 50%;
  font-weight: 500;
  color: rgba(16, 24, 40, 1);
  align-items: center;
}

.card-price {
  font-size: 12px;
  font-weight: 500;
  color: rgba(16, 24, 40, 1);
}

.card-status {
  font-size: 12px;
  font-weight: 500;
  padding-left: 5px;
}
.card-status.green {
  color: rgba(18, 183, 106, 1);
}
.card-status.red {
  color: rgba(255, 54, 114, 1);
}
.card-status.yellow {
  color: rgba(255, 184, 0, 1);
}

.card-date {
  font-size: 12px;
  font-weight: 500;
  color: rgba(16, 24, 40, 1);
  padding-right: 11px;
}

.card-status-icon svg {
  vertical-align: middle;
}

/*  start Transaction home cards style */
.card-home-arrow-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-home-card {
  height: 60px;
  width: 100%;
  display: flex;
  padding: 15px 10px;
  box-shadow: 0px 5px 22px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  direction: rtl;
  margin: 1rem 0;
}
.card-home-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}

/*  end Transaction home cards style */

/*  start Near Expired card style */
.near-expiration-card-wrapper {
  direction: rtl;
  border: 1px solid rgba(0, 114, 255, 1);
  border-radius: 10px;
  width: 100%;
  height: 7.8rem;
  margin-top: 20px;
  padding: 10px 10px;
}

.near-expiration-card-wrapper.shadow-ani {
  animation: boxShadow 2s infinite;
}

@keyframes boxShadow {
  0% {
    box-shadow: unset;
  }
  50% {
    box-shadow: 0px 5px 15px 0px rgba(0, 114, 255, 0.2);
  }
}

.near-expiration-card-wrapper.other {
  direction: rtl;
  border: unset;
  box-shadow: 0px 5px 22px 0px rgba(0, 0, 0, 0.05);
}
.near-expiration-card-wrapper.expired {
  direction: rtl;
  border: unset;
  background: rgba(16, 24, 40, 1);
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 390px) {
  .near-expiration-card-wrapper.expired {
    gap: 0.5rem;
  }
}
.near-expiration-card-wrapper.expired::after {
  position: absolute;
  content: '';
  padding: 0.4rem;
  background-color: #fff;
  border-radius: 50%;
  left: -9px;
  top: 33%;
}
.remain-dates-wrapper {
  display: flex;
  gap: 1rem;
}
.near-expiration-card-wrapper.expired::before {
  position: absolute;
  content: '';
  padding: 0.4rem;
  background-color: #fff;
  border-radius: 50%;
  left: -9px;
  top: 57%;
}
.merchant-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}
.merchant-row .merchant-name-logo svg {
  vertical-align: middle;
}
.merchant-name {
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}
.remain-dates-title {
  color: rgba(16, 24, 40, 0.5);
  font-size: 10px;
  font-weight: 500;
}
.remain-dates-title.expired {
  color: rgba(255, 255, 255, 0.5);
}
.remain-dates-value {
  color: rgba(255, 54, 114, 1);
  font-size: 12px;
  font-weight: 500;
  margin-right: 25px;
}
.remain-dates-value.expired {
  color: rgba(255, 255, 255, 0.5);
}
.remain-dates-value.other {
  color: rgba(16, 24, 40, 1);
}
.ceiling-qnt-wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.bank-row-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}
.bank-row-wrapper.expired {
  width: 19rem;
}
.price-ceiling,
.transaction-ceiling {
  display: flex;
  gap: 1rem;
}
.ceiling-value {
  font-size: 12px;
  font-weight: 500;
  margin-right: 22px;
}
.ceiling-value.transaction {
  margin-right: 10px;
}
.expiration-section {
  /* position: absolute;
  left: 0;
  top: 50%; */
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.expiration-section .title {
  transform: rotate(-90deg);
  color: rgba(255, 255, 255, 1);
  inline-size: max-content;
}
.right-side-section {
  display: flex;
  flex-direction: column;
}

.merchant-name-logo {
  display: flex;
  align-items: center;
}

.merchant-dateils-wrapper {
  font-size: 10px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  gap: 1.5rem;
}

.merchant-dateil-right {
  display: flex;
  flex-direction: column;
}

.merchant-dateil-left {
  display: flex;
  flex-direction: column;
}

.merchant-expiration-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  height: 100%;
  gap: 6px;
  margin-right: 10px; /* Default margin */
}

.card-icon-wrapper {
  position: relative;
}

.card-icon-filter {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: end; */
    filter: blur(24px);
    position: absolute;
    top: -8px;
    right: -7px;
    /* mask-repeat: no-repeat; */
    transform: scale(1.5);
    /* mask-size: 3rem; */
    mask-size: 10em 10em
    /* mask-repeat: no-repeat;
    mask-position: center;
    z-index: 1; */
}



@media (min-width: 400px) {
  .merchant-expiration-wrapper {
    margin-right: 20px; /* Margin for min width 400px */
  }
}
@media (min-width: 410px) {
  .merchant-expiration-wrapper {
    margin-right: 30px; /* Margin for min width 400px */
  }
}
@media (min-width: 420px) {
  .merchant-expiration-wrapper {
    margin-right: 40px; /* Margin for min width 400px */
  }
}
@media (min-width: 430px) {
  .merchant-expiration-wrapper {
    margin-right: 50px; /* Margin for min width 400px */
  }
}

.merchant-expiration-title {
  font-size: 12px;
  font-weight: 400;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  color: #fff;
  display: block;
}
/*  end Near Expired card style */
