.business-content {
  position: relative;
}

.business-section-wrapper {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  width: 100%;
  overflow-x: auto; /* Horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scrollbar */
  white-space: nowrap; /* Prevent line breaks */
}
.rect-overlay-right {
  width: 27px;
  height: 57px;
  position: absolute;
  right: -10px;
  top: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) -7.65%,
    rgba(255, 255, 255, 0.51) 56.07%,
    #ffffff 155%
  );
}
.rect-overlay-left {
  width: 8px;
  height: 57px;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) -7.65%,
    rgba(255, 255, 255, 0.45) 56.07%,
    #ffffff 155%
  );
}

/* Adjust card width if needed */
.business-section-wrapper > div {
  flex: 0 0 auto; /* Allow cards to shrink */
}

.business-card-wrapper.clicked .title {
  color: #0072ff;
}

.business-card-wrapper.clicked svg > path {
  fill: #0072ff;
  fill-opacity: 1;
}

.business-card-wrapper {
  background: rgba(0, 114, 255, 0.2);
  border-radius: 10px;
  width: 48px;
  height: 57px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.business-card-wrapper.clicked {
  border: 1px solid rgba(0, 114, 255, 1);
}

.business-card-wrapper .title {
  font-size: 10px;
  font-weight: 600;
  line-height: 13px;
}

.business-title {
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0 20px 0;
}

.home-search_input .ant-input-search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #cdcdd0;
  background-color: #ffffff;
  border-right: unset;
  border-bottom-left-radius: 5px !important;
  border-top-left-radius: 5px !important;
}
.home-search_input.others .ant-input-search-button {
  border-bottom-left-radius: 10px !important;
  border-top-left-radius: 10px !important;
}
.home-search_input.payman .ant-input-outlined {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-left: unset;
  height: 32px;
  font-size: 12px;
  font-weight: 600;
}
.home-search_input.payman.others .ant-input-outlined {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.home-search_input.payman .ant-input-outlined:focus {
  border-color: #cdcdd0;
  box-shadow: unset;
}
.home-search_input.payman .ant-input-outlined:hover {
  border-color: #cdcdd0;
  box-shadow: unset;
}

@media screen and (max-width: 376px), screen and (max-height: 668px) {
  .home-search_input.payman .ant-input-outlined {
    height: 29px;
  }
}
