.dot-leader-wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin: 2rem 1rem;
}

.start-text,
.end-text {
  white-space: nowrap;
}

.start-text {
  color: rgba(16, 24, 40, 0.5);
  font-size: 12px;
  font-weight: 500;
}

.end-text {
  color: rgba(16, 24, 40, 1);
  font-size: 14px;
  font-weight: 500;
  direction: ltr;
}

.dots {
  overflow: hidden;
  color: #cdcdd0;
}
