.transaction-filter .filter-tools-wrapper .filter-tools-title {
  color: rgba(16, 24, 40, 1);
}

.trans-list {
  overflow-y: auto;
  max-height: 72vh;
  padding-bottom: 30px;
  direction: ltr;
}

.trans-list.active-one {
  height: calc(100vh - 310px) !important;
}

.trans-list.active-two {
  height: calc(100vh - 340px) !important;
}

.trans-list.active-three {
  height: calc(100vh - 370px) !important;
}

.transaction-filter-list-wrapper {
  position: relative;
  background-color: white;
  width: 100%;
  height: auto;
  z-index: 4;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.transaction-filter-item {
  margin-top: 0.6rem;
}

/* media gueries */

/* SE phone */

@media screen and (max-width: 376px), screen and (max-height: 668px) {
  .trans-list {
    max-height: 62vh;
  }
}
