.transaction-filter .filter-tools-wrapper .filter-tools-title {
  color: rgba(16, 24, 40, 1);
}

.trans-list {
  overflow-y: auto;
  max-height: 72vh;
  padding-bottom: 30px;
  direction: ltr;
}

/* media gueries */

/* SE phone */

@media screen and (max-width: 376px), screen and (max-height: 668px) {
  .trans-list {
    max-height: 62vh;
  }
}
