.Header-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-layout {
  height: 100vh;
  max-width: 460px;
  margin: 0 auto;
  background: #ffffff;
}

.ant-layout-header {
  height: 10vh;
  background: #fff;
  line-height: unset;
  color: unset;
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: block;
}

.ant-layout-header span {
  color: rgba(16, 24, 40, 1);
  font-size: 18px;
  font-weight: 500;
}

.ant-layout-footer {
  background-color: #fff;
  padding: 5px 50px;
  -webkit-box-shadow: 0px -4px 12px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -4px 12px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -4px 12px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 460px;
  margin: 0 auto;
}

.content-wrapper {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 10vh;
  background-color: rgb(255, 255, 255);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 20px;
  /* overflow: scroll; */
  /* overflow-x: hidden; */
}

.content-wrapper.scroll {
  overflow: hidden !important;
  max-width: 460px;
}

/* ::-webkit-scrollbar {
  direction: rtl;
} */

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
  justify-content: space-between;
  width: 100% !important;
}

.ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
  width: 22px !important;
  height: 3px !important;
  border-radius: 5px;
}

.ant-tabs .ant-tabs-ink-bar {
  background: #0072ff;
}
.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar {
  top: 0;
  bottom: unset;
}

.ant-tabs .ant-tabs-tab + .ant-tabs-tab {
  margin: 0;
}

.ant-tabs-tab-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ant-tabs .ant-tabs-tab-btn .ant-tabs-tab-icon:not(:last-child) {
  margin-inline-end: unset;
}

.ant-tabs-tab-btn > span:nth-child(2) {
  color: #acacac;
  font-size: 10px;
  font-weight: 400;
}
.ant-tabs-tab.ant-tabs-tab-active > div > span:nth-child(2) {
  color: #0072ff;
}
.ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: unset;
}

.ant-drawer-content.custom-sidebar {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.ant-drawer-content.custom-sidebar .ant-drawer-header {
  padding: 50px 0px 40px 0px;
  margin: 0px 20px;
}

.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light.custom-sidebar-menu
  > li
  > span {
  font-weight: 500;
}

.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light.custom-sidebar-menu {
  border: none;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

.ant-drawer-content.custom-sidebar .ant-drawer-body {
  margin: 0px 20px;
  padding: unset;
  overflow: hidden;
}

.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light.custom-sidebar-menu
  .ant-menu-item {
  margin-inline: unset;
  padding-inline: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light.custom-sidebar-menu
  .ant-menu-item-active {
  background-color: #0072ff;
  color: #fff;
}
.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light.custom-sidebar-menu
  .ant-menu-item-active
  span {
  color: #fff;
}
.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light.custom-sidebar-menu
  .ant-menu-item-active
  svg
  path {
  stroke: #fff;
}

.ant-drawer .ant-drawer-mask {
  background: rgba(0, 0, 0, 0.2);
}

.ant-drawer .ant-drawer-footer {
  border: unset;
  padding: 20px 32px;
}

.primary-footer {
  bottom: -100px;
  transition: ease-in-out 0.35s;
}
.primary-footer-active {
  bottom: 0px;
  transition: ease-in-out 0.35s;
}
.slick-slider .custom-sidebar .slick-initialized {
  margin-bottom: 30px;
}
.ant-drawer-body .ant-carousel {
  margin-top: 30px;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
  padding-bottom: 23px;
}
.unselected-tabs .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
  visibility: hidden;
}

.slick-dots.slick-dots-bottom {
  margin: 0 6rem !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 1rem;
}

.ant-carousel .slick-dots li {
  width: 25px;
}

.ant-carousel .slick-dots li button {
  border-radius: 50%;
  padding: 3px;
  width: unset;
  align-items: baseline;
  position: absolute;
  bottom: -2px;
}

/* media gueries */

/* SE phone */

@media screen and (max-width: 376px), screen and (max-height: 668px) {
  .content-wrapper {
    top: 12vh;
    overflow: hidden;
    height: 80%;
  }

  .ant-layout-header {
    padding: 40px 20px 46px !important;
    overflow: hidden;
  }

  .ant-drawer-content.custom-sidebar .ant-drawer-header {
    padding: 15px 0px 10px 0px;
}
}
/* media gueries */
