/* .ant-skeleton.ant-skeleton-block .ant-skeleton-input {
  width: 100vw !important;
  height: 85px !important;
} */

.skeleton-transactions-wrapper {
  height: 85px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  direction: rtl;
  padding: 15px 10px;
  box-shadow: 0px 5px 22px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-top: 20px;
  background-color: #eee;
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200px 100%;
  background-repeat: no-repeat;
  animation: skeleton-animation 1.5s ease-in-out infinite;
}

.skeleton-sidebar-wrapper {
  height: 80px;
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #eee;
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200px 100%;
  background-repeat: no-repeat;
  animation: skeleton-animation 1.5s ease-in-out infinite;
}

@keyframes skeleton-animation {
  0% {
    background-position: calc(200px + 100%) 0;
  }
  100% {
    background-position: -200px 0;
  }
}

.skeleton-transactions-avatar {
  width: 32px;
  height: 32px;
  background-color: #acacac;
  opacity: 0.5;
  border-radius: 10px;
  margin-left: 3rem;
}

.skeleton-transactions-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 65%;
}

.transactions-description-one {
  width: 50%;
  height: 12px;
  background-color: #acacac;
  opacity: 0.5;
  border-radius: 10px;
  margin-bottom: 22px;
}

.transactions-description-two {
  width: 70%;
  height: 12px;
  background-color: #acacac;
  opacity: 0.5;
  border-radius: 10px;
}

.skeleton-transactions-icon {
  height: 100%;
  width: 10%;
}

.status-skeleton-transactions {
  width: 100%;
  height: 12px;
  background-color: #acacac;
  opacity: 0.5;
  border-radius: 10px;
}

.skeleton-chart-container {
  width: 100%;
  height: 93px;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: solid 1px #d3d3d3;
}

.skeleton-chart-description {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chart-description-top {
  width: 80%;
  height: 15px;
  border-radius: 5px;
  background-color: #eee;
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200px 100%;
  background-repeat: no-repeat;
  animation: skeleton-animation 1.5s ease-in-out infinite;
}

.chart-description-mid {
  width: 70%;
  height: 15px;
  border-radius: 5px;
  background-color: #eee;
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200px 100%;
  background-repeat: no-repeat;
  animation: skeleton-animation 1.5s ease-in-out infinite;
}

.chart-description-btns {
  width: 50%;
  height: auto;
  display: flex;
  gap: 1rem;
}

.chart-description-btn {
  display: inline-block;
  width: 50%;
  height: 20px;
  border-radius: 5px;
  background-color: #eee;
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200px 100%;
  background-repeat: no-repeat;
  animation: skeleton-animation 1.5s ease-in-out infinite;
}

.skeleton-chart-wrapper {
  width: 85px;
  height: 85px;
}

.skeleton-chart {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #eee;
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200px 100%;
  background-repeat: no-repeat;
  animation: skeleton-animation 1.5s ease-in-out infinite;
}

.skeleton-paymans-wrapper {
  direction: rtl;
  display: flex;
  border-radius: 10px;
  width: 100%;
  height: 7.8rem;
  padding: 10px 10px;
  background-color: #eee;
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200px 100%;
  background-repeat: no-repeat;
  animation: skeleton-animation 1.5s ease-in-out infinite;
}

.skeleton-paymans-avatar {
  width: 32px;
  height: 32px;
  background-color: #acacac;
  opacity: 0.5;
  border-radius: 10px;
  margin-left: 3rem;
}

.skeleton-paymans-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 65%;
}

.paymans-description-one {
  width: 50%;
  height: 12px;
  background-color: #acacac;
  opacity: 0.5;
  border-radius: 10px;
  margin-bottom: 22px;
}

.paymans-description-two {
  width: 70%;
  height: 12px;
  background-color: #acacac;
  opacity: 0.5;
  border-radius: 10px;
  margin-bottom: 22px;
}

.paymans-description-three {
  width: 90%;
  height: 12px;
  background-color: #acacac;
  opacity: 0.5;
  border-radius: 10px;
}

.skeleton-others-container {
  height: 7.5rem;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  border-radius: 10px;
  background-color: #eee;
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200px 100%;
  background-repeat: no-repeat;
  animation: skeleton-animation 1.5s ease-in-out infinite;
}

.skeleton-others-avatar {
  width: 38px;
  height: 38px;
  background-color: #acacac;
  opacity: 0.5;
  border-radius: 10px;
}

.skeleton-others-description {
  width: 50%;
  height: 12px;
  background-color: #acacac;
  opacity: 0.5;
  border-radius: 10px;
}

.skeleton-ButtonSheet-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.skeleton-banner-wrapper {
  min-height: 160px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #eee;
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200px 100%;
  background-repeat: no-repeat;
  animation: skeleton-animation 1.5s ease-in-out infinite;
  -webkit-animation: skeleton-animation 1.5s ease-in-out infinite;
}

.skeleton-banner {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: #d6d6d6;
  background-image: linear-gradient(90deg, #d6d6d6, #e8e8e8, #d6d6d6);
  background-size: 200px 100%;
  background-repeat: no-repeat;
  animation: skeleton-animation 1.5s ease-in-out infinite;
}

.skeleton-ButtonSheet-mid {
  width: 60%;
  height: 32px;
  margin-block: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.skeleton-ButtonSheet-avatar {
  height: 100%;
  width: 32px;
  border-radius: 10px;
  background-color: #eee;
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200px 100%;
  background-repeat: no-repeat;
  animation: skeleton-animation 1.5s ease-in-out infinite;
  -webkit-animation: skeleton-animation 1.5s ease-in-out infinite;
}

.skeleton-ButtonSheet-disc {
  width: 70%;
  height: 12px;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.skeleton-ButtonSheet-first {
  width: 60%;
  height: 12px;
  background-color: #eee;
  opacity: 0.5;
  border-radius: 10px;
  margin-bottom: 22px;
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200px 100%;
  background-repeat: no-repeat;
  animation: skeleton-animation 1.5s ease-in-out infinite;
  -webkit-animation: skeleton-animation 1.5s ease-in-out infinite;
}

.skeleton-ButtonSheet-two {
  width: 80%;
  height: 12px;
  background-color: #eee;
  opacity: 0.5;
  border-radius: 10px;
  margin-bottom: 22px;
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200px 100%;
  background-repeat: no-repeat;
  animation: skeleton-animation 1.5s ease-in-out infinite;
  -webkit-animation: skeleton-animation 1.5s ease-in-out infinite;
}

.skeleton-ButtonSheet-three {
  width: 100%;
  height: 12px;
  background-color: #eee;
  opacity: 0.5;
  border-radius: 10px;
  margin-bottom: 22px;
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200px 100%;
  background-repeat: no-repeat;
  animation: skeleton-animation 1.5s ease-in-out infinite;
  -webkit-animation: skeleton-animation 1.5s ease-in-out infinite;
}

.skeleton-contact-container {
  width: 300px;
  max-height: 209px;
}

.skeleton-contact-banner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #eee;
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200px 100%;
  background-repeat: no-repeat;
  animation: skeleton-animation 1.5s ease-in-out infinite;
}

@keyframes skeleton-animation {
  0% {
    background-position: calc(200px + 100%) 0;
  }
  100% {
    background-position: -200px 0;
  }
}

@media screen and (max-width: 376px) {
  .skeleton-chart-container {
    direction: rtl;
  }
  .skeleton-others-container {
    height: 100px;
  }
}
