.payman-filter-title .filter-tools-wrapper .filter-tools-title {
  color: rgba(16, 24, 40, 1);
}

.other-payman-title {
  direction: rtl !important;
  font-size: 14px;
  font-weight: 500;
  display: flex;
}

.scrollable-section {
  overflow-y: scroll !important;
  overflow-x: hidden;
  height: calc(100vh - 320px);
  padding-bottom: 1rem;
  /* padding-right: 0.5rem;
  padding-left: 0.5rem; */
  direction: ltr;
}
.scrollable-section.active-one {
  height: calc(100vh - 343px);
}

.scrollable-section.active-two {
  height: calc(100vh - 370px);
}

.scrollable-section.active-three {
  height: calc(100vh - 405px);
}

.scrollable-section.active-four {
  height: calc(100vh - 435px);
}

/* .scrollable-section-wrapper {
  height: 100%;
  overflow: scroll !important;
  direction: ltr;
} */
