/* start style login page */

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

.login-body {
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
  max-height: 80%;
  height: 100vh;
  width: 100vw;
  border-top-right-radius: 40px 40px;
  border-top-left-radius: 40px 40px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  align-self: self-end;
}

.login-body-wrapper {
  max-height: 100%;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-header__logo {
  margin-top: 30px;
}

.login-header__title {
  font-weight: 600;
  font-size: 18px;
}

/* end style login page */

/* home style ( with out mandate ) */

.contant-wrapper.scroll {
  overflow: hidden !important;
}

.banner-home {
  display: flex;
  justify-content: center;
}

.banner-home img {
  width: 100%;
}

.home-des_title {
  font-weight: 600;
  font-size: 1.3rem;
}

.home-des_parghraf {
  color: #5f6061;
  line-height: 15.6px;
  font-weight: 500;
  font-size: 0.8rem;
}

.home-search_input {
  width: 100% !important;
  margin-top: 2rem;
}
.home-search_input.payman {
  width: 100% !important;
  margin-top: 1rem;
}

.home-merchants-wrapper {
  height: 100%;
  overflow: scroll !important;
  direction: ltr;
}

.selected-merchants-title {
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 4px;
  margin-top: 20px;
  /* direction: rtl; */
}

.home-merchants {
  overflow: scroll !important;
  height: calc(100vh - 545px);
  padding-bottom: 1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.home-merchants.payman {
  height: calc(100vh - 510px);
}

.home-datepickers {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #d3d3d3;
}

.home-datepicker {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2.1rem 30px;
  font-weight: 500;
  font-size: 14px;
  opacity: 0.3;
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
  transition: ease-in-out 0.3s all;
}

.home-datepicker:nth-child(6) {
  background-color: #0072ff;
  color: #fff;
  border-radius: 10px;
  padding: 2.1rem 30px;
  width: 3rem;
  height: 3rem;
  opacity: 1;
  transition: ease-in-out 0.3s all;
}

.home-datepicker:hover {
  background-color: #0072ff;
  color: #fff;
  border-radius: 10px;
  padding: 2.1rem 30px;
  width: 3rem;
  height: 3rem;
  opacity: 1;
  transition: ease-in-out 0.3s all;
}

.home-datepicker-p:hover {
  font-size: 12px;
  transition: ease-in-out 0.001s all;
  color: #fff;
}

.TransactionHomeCard-wrapper-cards {
  border-bottom: 1px solid gray;
  padding-bottom: 1.2rem;
}

.TransactionHomeCard-wrapper-cards.active {
  border: unset;
}

.TransactionHomeCard-wrapper {
  height: 35rem;
}

.TransactionHomeCard {
  overflow: scroll !important;
  height: calc(100vh - 495px);
  direction: ltr;
}

.TransactionHomeCard-p {
  direction: rtl;
  font-size: 14px;
  font-weight: 500;
}

/* start style contact page */

.contact-wrapper {
  height: 100%;
  width: 100%;
}

.contact-banner {
  width: 100%;
  margin-bottom: 5.4rem;
}

.contact-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.3rem;
}

.contact-btn {
  font-size: 14px;
  font-weight: 600;
  color: #0072ff;
  padding: 10px 8px;
  border: 1px solid #0072ff;
  border-radius: 10px;
  text-align: center;
  width: 123px;
}

.contact-btn:focus {
  color: #0072ff;
}

.contact-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  color: #0072ff;
}

.info-login {
  margin-top: 4rem;
  background-color: rgba(239, 242, 255, 1);
  width: 100%;
  font-size: 13px;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border: 1.2px dashed rgba(0, 114, 255, 1);
  border-radius: 10px;
}
.info-login.detail {
  width: 88%;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 0.5rem 0.5rem;
  margin: 2rem auto;
}
/* end style contact page */

/* start faq style */
.btn-faq {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}
/* end faq style */

/* start profile page style */

.profile-wrapper input {
  height: 44px !important;
  border-radius: 10px;
  /* margin-bottom: 2rem; */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.profile-input {
  margin-bottom: 2rem;
}

.profile-input-disabled {
  height: 44px !important;
  margin-bottom: 2rem;
}

.ant-select-selector {
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

.datepiker-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 2.5rem;
}

.datepiker-title {
  position: relative;
  padding-right: 10px;
  color: rgb(0, 0, 0, 0.25);
}

.rmdp-container {
  position: absolute;
  width: 100%;
  display: flex;
  margin-top: 0.2rem;
  margin-bottom: unset;
}

.rmdp-input {
  border: 1px solid #c0c4d6;
  border-radius: 10px !important;
  height: 44px !important;
  margin: 1px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: ltr;
  padding: 2px 5px;
  width: 100%;
  background: transparent;
  font-family: "IranYekan";
  padding-left: 2rem !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

.rmdp-input:focus {
  border: 1px solid #a4b3c5;
  box-shadow: 0 0 2px #a4b3c5;
  outline: none !important;
}

.calendar-icon {
  width: 7%;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.calendar-icon svg {
  width: 100px !important;
  height: 18px !important;
}

.contact-us-with-icon.profile {
  height: 40px;
  margin-top: 4rem;
}

.contact-us-with-icon.logout {
  height: 40px;
  margin-top: 2rem;
  background-color: #FF3672;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* end profile page style */
