.ant-collapse-content.ant-collapse-content-active {
  border-top: unset;
}
.ant-collapse .ant-collapse-content {
  border-top: unset;
  direction: rtl;
}
.ant-collapse-item {
  direction: rtl;
  border-bottom: 1px solid rgba(172, 172, 172, 0.2) !important;
}

.ant-collapse {
  border: unset;
  border-bottom: unset !important;
  border-radius: unset !important;
}

/* prettier-ignore */
.ant-collapse>.ant-collapse-item:last-child{
  border-radius: unset ;
}

.ant-collapse-header {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0 !important;
}

.ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-expand-icon {
  padding-inline-end: unset;
}

.ant-collapse-header-text {
  font-size: 14px;
  font-weight: 600;
  color: #101828;
}

.ant-collapse-content-box {
  padding: 20px 0 0 0 !important;
  line-height: 16px;
}

.ant-collapse-content-box > span {
  font-size: 12px;
  color: #121927;
  font-weight: 500;
  line-height: 17px;
}

.ant-collapse.ant-collapse-icon-position-start {
  overflow: scroll;
  height: 450px;
  direction: ltr;
  padding-top: 20px;
}

.ant-collapse.ant-collapse-icon-position-start > .ant-collapse-item {
  padding: 20px 0 20px 0;
}

.ant-collapse.ant-collapse-icon-position-start
  > .ant-collapse-item:first-child {
  padding: 0px 0 20px 0;
}

.question-title {
  font-size: 12px;
  font-weight: 500;
  color: rgba(16, 24, 40, 0.5);
  padding-bottom: 30px;
  margin-top: 3rem;
}

.ant-btn-primary.contact-us-with-icon {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  justify-content: center;
}

.ant-btn-primary.contact-us-with-icon > span:nth-child(2) {
  font-size: 12px;
  font-weight: 500;
}

/* media gueries */

/* SE phone */

@media screen and (max-width: 376px), screen and (max-height: 668px) {
  .ant-btn-primary.contact-us-with-icon {
    margin-top: 0.5rem;
  }
  .ant-btn-primary.contact-us-with-icon.profile {
    margin-top: 2rem;
  }
  .ant-collapse.ant-collapse-icon-position-start {
    overflow: scroll;
    height: 350px;
    direction: ltr;
  }
  .question-title {
    padding-bottom: 20px;
    margin-top: 1rem;
  }

  .ant-collapse-header-text {
    font-size: 12px;
  }

  .ant-collapse-arrow {
    width: 15px !important;
    height: 15px !important;
  }

  .ant-collapse.ant-collapse-icon-position-start > .ant-collapse-item {
    padding: 15px 0 15px 0;
  }

  /* .ant-collapse-content-box > span {
    font-size: 11px;
  } */

  .btn-faq {
    font-size: 13px;
  }
}

/* media gueries */

/* SE phone */

@media screen and (max-width: 376px), screen and (max-height: 668px) {
  .ant-btn {
    height: 36px !important;
  }
  /* .ant-collapse.ant-collapse-icon-position-start {
    height: 65%;
  } */
}
