.ant-collapse-content.ant-collapse-content-active {
  border-top: unset;
}
.ant-collapse .ant-collapse-content {
  border-top: unset;
  direction: rtl;
}
.ant-collapse-item {
  direction: rtl;
  border-bottom: 1px solid rgba(172, 172, 172, 0.2) !important;
}

.ant-collapse {
  border: unset;
  border-bottom: unset !important;
  border-radius: unset !important;
}

/* prettier-ignore */
.ant-collapse>.ant-collapse-item:last-child{
  border-radius: unset ;
}

.ant-collapse-header {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0 !important;
}

.ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-expand-icon {
  padding-inline-end: unset;
}

.ant-collapse-header-text {
  font-size: 14px;
  font-weight: 600;
  color: #101828;
}

.ant-collapse-content-box {
  padding: 20px 0 0 0 !important;
  line-height: 16px;
}

.ant-collapse-content-box > span {
  font-size: 12px;
  color: #121927;
  font-weight: 500;
  line-height: 17px;
}

.ant-collapse.ant-collapse-icon-position-start {
  overflow: scroll;
  height: 70%;
  direction: ltr;
}

.ant-collapse.ant-collapse-icon-position-start > .ant-collapse-item {
  padding: 20px 0 20px 0;
}

.ant-collapse.ant-collapse-icon-position-start
  > .ant-collapse-item:first-child {
  padding: 0px 0 20px 0;
}

.question-title {
  font-size: 12px;
  font-weight: 500;
  color: rgba(16, 24, 40, 0.5);
  padding-bottom: 30px;
}

.ant-btn-primary.contact-us-with-icon {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.ant-btn-primary.contact-us-with-icon > span:nth-child(2) {
  font-size: 12px;
  font-weight: 500;
}

@media (max-height: 700px) {
  .ant-collapse.ant-collapse-icon-position-start {
    overflow: scroll;
    height: 67%;
    direction: ltr;
  }
  .question-title {
    padding-bottom: 20px;
  }
}

/* media gueries */

/* SE phone */

@media screen and (max-width: 376px), screen and (max-height: 668px) {
  .ant-btn {
    height: 29px !important;
  }
}
