.react-modal-sheet-container {
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
  height: auto !important;
  max-width: 460px !important;
  margin: 0 auto !important;
  bottom: 0 !important;
  transition: all 0.7ms !important;
}

.detailed-drawer.merchant {
  padding: 0px 20px;
}
