.ant-segmented .ant-segmented-group {
  align-items: center;
}

.ant-segmented .ant-segmented-item-label {
  min-height: 34.4px;
  line-height: 34.4px;
}

.payman-segmented .ant-segmented-item {
  border-radius: 10px;
}
.ant-segmented.ant-segmented-block {
  border-radius: 10px;
  border: 1px solid rgba(0, 114, 255, 1);
}
.ant-segmented {
  background: rgba(0, 114, 255, 0.2);
}

.payman-segmented.move
  .ant-segmented-item:hover:not(.ant-segmented-item-selected):not(
    .ant-segmented-item-disabled
  ) {
  color: #0072ff;
}

.ant-segmented
  .ant-segmented-item:hover:not(.ant-segmented-item-selected):not(
    .ant-segmented-item-disabled
  ) {
  color: #fff;
  transition: color 0s ease-in;
}

.ant-segmented-item {
  color: #0072ff;
}

.ant-segmented .ant-segmented-thumb {
  background-color: rgba(0, 114, 255, 1);
  border-radius: 10px;
  transition: 0.25s ease-out;
}

.ant-segmented
  .ant-segmented-item:hover:not(.ant-segmented-item-selected):not(
    .ant-segmented-item-disabled
  )::after {
  background-color: unset;
}

.ant-segmented
  .ant-segmented-thumb
  ~ .ant-segmented-item:not(.ant-segmented-item-selected):not(
    .ant-segmented-item-disabled
  )::after {
  background-color: unset;
}

.ant-segmented .ant-segmented-thumb-motion-appear-active {
  background-color: rgba(0, 114, 255, 1);
  transition: 0.25s ease-out;
}

.ant-segmented .ant-segmented-item-selected {
  color: #fff;
  transition: none;
}

.payman-segmented .ant-segmented-item-selected {
  color: #fff;
  transition: none;
}

.ant-segmented-item.ant-segmented-item-selected {
  transition: none;
}
