.footer-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 1.2rem;
  font-size: 10px;
  overflow: hidden;
}

.footer-wrapper_img {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  color: blue;
}

.ant-layout-footer.filtered-footer {
  padding: 0px;
  margin: 0 auto;
  width: 80%;
  border-radius: 10px;
  height: 67px;
  bottom: -75px;
  transition: ease-in-out 0.25s;
}

.filtered-footer.active {
  bottom: 20px;
  transition: ease-in-out 0.25s;
}
.filtered-footer.invisible {
  transition: ease-in-out 0.24s;
  opacity: 0;
  visibility: hidden;
}

.ant-layout-footer.filtered-footer
  .ant-menu-light.ant-menu-root.ant-menu-inline {
  border-inline-end: unset;
}

.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light.footer-filtered-menu {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  width: 80vw;
}

.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light.footer-filtered-menu
  .ant-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-filtered-menu .ant-menu-item .ant-menu-title-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-filtered-menu .ant-menu-item .ant-menu-item-icon + span {
  margin-inline-start: 0px;
  font-size: 10px;
  color: #acacac;
}
.ant-menu-item.remove-filter-item {
  color: #fff;
  background-color: #ff3672;
  width: 12rem;
}
.ant-menu-item.remove-filter-item .ant-menu-title-content {
  color: #fff !important;
}
.ant-menu-item.ant-menu-item-active.remove-filter-item:hover {
  background-color: #ff3672;
}
.ant-menu-item.remove-filter-item:hover {
  background-color: #ff3672;
}

.footer-filtered-menu .ant-menu-item {
  height: 100%;
  margin-inline: 0px;
  padding: 14px 12px !important;
}

.ant-menu-light.footer-filtered-menu:not(.ant-menu-horizontal)
  .ant-menu-item:not(.ant-menu-item-selected):active {
  background-color: #fff;
}

.ant-menu-light.footer-filtered-menu:not(.ant-menu-horizontal)
  .ant-menu-item:not(.ant-menu-item-selected):hover {
  background-color: none;
}

/* search footer  */
.ant-layout-footer.searched-footer {
  width: 90%;
  padding: 0px;
  margin: 0 auto;
  border-radius: 10px;
  height: 60px;
  box-shadow: 0px 3px 17px -7px rgba(0, 0, 0, 0.25);
  bottom: 20px;
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out 0.5s;
}

.searched-footer.close {
  opacity: 1;
  bottom: -90px;
  transition: ease-in-out 0.15s;
}

.searched-footer.active {
  bottom: 20px;
  opacity: 1;
  visibility: visible;
  transition: ease-in-out 0.4s;
  height: 128px;
}

.searched-footer-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.implement-button {
  width: 20%;
  height: 100%;
  background-color: #0072ff;
  color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -6px 0px 7px -4px rgba(0, 0, 0, 0.2);
}

.implement-button span {
  font-size: 10px;
}
.implement-button.half {
  width: 100%;
  height: 50%;
}
.implement-button.half.disabled {
  background-color: #acacac;
}
.remove-button {
  width: 100%;
  height: 50%;
  background-color: #ff3672;
  color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -6px 0px 7px -4px rgba(0, 0, 0, 0.2);
  padding: 10px 10px;
}
.remove-button.disabled {
  background-color: #acacac;
}
.remove-button span {
  font-size: 10px;
}
.implement-remove-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.searched-footer-content {
  width: 80%;
}

.searched-footer-content {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.quick-access-section {
  width: 95%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 10px 10px 10px;
  align-items: center;
  border-bottom: 1px solid rgba(172, 172, 172, 0.2);
  margin: 0 auto;
}
.quick-access-section > span {
  font-size: 12px;
  color: rgba(16, 24, 40, 1);
  font-weight: 600;
  padding: 10px 6px;
  background-color: rgba(172, 172, 172, 0.2);
  border-radius: 5px;
  min-width: 78px;
  display: flex;
  justify-content: center;
}
.quick-access-section .selected {
  background-color: #0072ff;
  color: #fff;
}

.ant-input-group {
  margin-bottom: 1rem;
}

.search-section {
  display: flex;
  width: 100%;
  height: 50%;
  padding: 15px 10px 13px;
  gap: 10px;
  direction: rtl;
}
.search-section.search-bar {
  display: unset;
  padding: 10px 10px 10px;
}
.search-datePicker .rmdp-container .rmdp-input {
  padding: 0px 10px 0px 60px;
}
.search-datePicker .rmdp-container {
  margin-top: unset;
}
.search-input .ant-input-group .ant-input {
  text-align: end;
}
.search-input {
  direction: ltr;
}
.search-section .home-search_input.payman {
  margin-top: 0;
}
.search-datePicker {
  position: relative;
}
.search-datePicker .rmdp-container {
  position: unset;
}
.search-datePicker .rmdp-container .rmdp-input {
  background: #ffffff;
  border-width: 1px !important;
  border-style: solid;
  border-color: #cdcdd0;
  border-radius: 5px !important;
  margin: unset !important;
}
.search-datePicker .icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-right: 1px solid #cdcdd0;
  padding: 7px 10px;
}
.icon svg {
  vertical-align: middle;
}
.divider {
  position: absolute;
  height: 34px;
  color: #cdcdd0;
  right: 42%;
  top: 5px;
  border-right: 1px solid #cdcdd0;
}
.search-datePicker .rmdp-container input::placeholder {
  color: rgba(16, 24, 40, 0.2);
}
.custom-input {
  font-family: 'IranYekan';
  font-size: 12;
  font-weight: 600;
}

.rmdp-mobile .rmdp-arrow-container {
  height: 26px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 2px;
}

.rmdp-rtl .rmdp-range-hover.start:not(.force),
.rmdp-rtl .rmdp-range.start:not(.force) {
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  background-color: hsl(226deg 32% 44%) !important;
  color: #fff !important;
}

.rmdp-rtl .rmdp-range-hover.end:not(.force),
.rmdp-rtl .rmdp-range.end:not(.force) {
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  background-color: hsl(226deg 32% 44%) !important;
  color: #fff !important;
}

.rmdp-range {
  background-color: hsl(220deg 90% 95%) !important;
  box-shadow: unset !important;
  color: #000 !important;
}
.ant-badge .ant-badge-count {
  width: 10px !important;
  min-width: 10px;
  height: 10px;
  font-size: 10px;
  background: #ff3672 !important;
  right: -5px;
}
.ant-menu .ant-menu-item .ant-menu-item-icon > * {
  line-height: 1.3;
}
/* media gueries */

/* SE phone */

@media screen and (max-width: 376px), screen and (max-height: 668px) {
  .ant-btn {
    height: 29px !important;
  }

  .ant-input-group {
    margin-bottom: 0.5rem;
  }
}

/* media gueries */

/* 14 iphone */

@media screen and (min-width: 400px) {
  .search-datePicker .divider {
    right: 29%;
  }
}
