.sort-wrapper {
  border: 1px solid rgba(205, 205, 208, 1);
  padding: 5px 15px;
  border-radius: 10px;
  margin-left: 1rem;
}
.title {
  color: rgba(16, 24, 40, 1);
  font-size: 12px;
}
.sort-wrapper div.ant-space-item svg {
  vertical-align: middle;
}

ul.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light {
  width: 87px;
  text-align: center;
}

ul.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light
  li:nth-child(1) {
  border-bottom-left-radius: unset !important;
  border-bottom-right-radius: unset !important;
}

ul.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light
  li:nth-child(2) {
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}

.ant-dropdown .ant-dropdown-menu {
  padding: 0;
  overflow: hidden;
  border-radius: 10px;
}

.dropdown-sort .ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-selected {
  background-color: #0072ff !important;
  color: #fff;
  /* padding: 14px 10px !important; */
}

span.ant-dropdown-menu-title-content {
  font-size: 10px;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-selected {
  background-color: #0072ff !important;
  color: #fff;
}

.dropdown-sort .ant-dropdown-menu-item {
  padding: 14px 10px !important;
}
